{% extends "cadastros/form.html" %}
{% load static %}

{% block breadcrumb %}
    <li class="breadcrumb-item active">Lista de Empresas</li>
{% endblock breadcrumb %}

{% block content %}

<table class="table table-striped">
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>CNPJ</th>
            <th>Manager</th>
            <th>Options</th>
        </tr>
    </thead>

    <tbody>
        {% for company in company_list %}
        <tr>
            <td>{{ company.pk }}</td>
            <td>{{ company.name }}</td>
            <td>{{ company.cnpj }}</td>
            <td>{{ company.manager }}</td>
            <td>
                <a class="btn btn-sm btn-outline-secondary" href="{% url 'company-detail' company.pk %}">View</a>
                <a class="btn btn-sm btn-outline-primary" href="{% url 'company-update' company.pk %}">Edit</a>
                <a class="btn btn-sm btn-outline-danger" href="{% url 'company-delete' company.pk %}">Delete</a>
            </td>
        </tr>
        {% empty %}
        <tr>
            <td colspan="5">No companies registered.</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}